
body{
  background: no-repeat url('./img/478729-PGE48X-287.jpg');
  background-size: cover;
  font-family: 'Gothic A1', sans-serif;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  /* font-family: 'Great Vibes', cursive; 
      font-family: "Playfair Display SC",Arial,Helvetica,sans-serif
  font-family: 'Playfair Display SC', serif;*/
}
 
 

main {
  flex: 1 0 auto;
}

.container {
  background: white
}

.content-place a{
  padding-left: 0;
  padding-right:0;
  color: black;
}

.content-row{
  margin-bottom: 0px;
}

.user-profile .row:first-child{
  width: 70%
}

.user-profile{
  padding-top: 30px
}

 


.modal-content{
  max-height: 40%;   
  overflow: visible;
}

.modal{
  width:600px
}




